@import '../theme.scss';

.MovieViewPage{
    background: $themeLightGray;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MovieViewModal {
    background: $themeDarkGray;
    border-radius: 10px;
    //min-width: 600px;
    top: 200px;
    right: 200px;
    min-height: 400px;
    border-radius: 15px;
}; 

.ModalContentWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ColumnsContentWrapper {
    display: flex;
    flex-direction: row;
}

.LeftColumnWrapper {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    min-width: 140px;
    height: 200px;
}

.MoviePoster {
    border: thin solid #ee6055; 
    height: 180px;
}

.IconsWrapper{
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.IconsText{
    font-size: 15px;
    color: $themeRed;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.RightContentWrapper {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 5px;
}

.HeadingWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.MovieTitle {
    font-size: 30px;
    color: $themeRed;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-top: 12px;
}

.SecondaryHeadings {
    font-size: 20px;
    color: $themeRed;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    margin-left: 0px;
    margin-right: 40px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.MovieDescriptionText {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: $themeLightGray;
    display: flex;
    width:100%;
    flex-direction: column;
    margin-right: 30px;
    margin-bottom: 10px;
}

.GenreSection{
    background: $themeBlack;
    border: solid 1px $themeRed;
    border-radius: 10px;
    //min-width: 200px;
    margin-top: 20px;
}

.GenreContentWrapper {
    display: flex;
    flex-direction: row;
    margin-right: 2px;
}

.GenreTitle{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #C4C4C4;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.GenreCategoriesWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.GenreCategories{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #EE6055;
    width: auto;
    outline: 1.5px solid #EE6055;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.TabsSection{
    background: $themeLightGray;
    border: solid 1px $themeRed;
    border-radius: 10px;
    //min-width: 200px;
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    margin-bottom: 20px;
}

.TabContentWrapper{
    display: flex;
    flex-direction: column;
    //width: 100%;
}

.TabHeadingsWrapper{
    //display: flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
    //display: -webkit-flex;
    
}

.TabInformationWrapper{
    display: flex;
    flex-direction: colum
}

.TabHeadings{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: $themeBlack;
    margin-bottom: 0px;
    //margin: 2px;
    //margin-right: 80px;
    //margin-left: 80px;
}

.TabHeadings:hover {
    text-shadow: 0px 6px 4px $themeBlack;
}

.SelectedTab{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

.TabBarLine{
    margin: 0px;
    margin-left: 20px;
    width: calc(100% - 40px);
    border: 1px solid $themeBlack;
}

