@import '../theme.scss';

.MovieViewPage {
    background: $themeLightGray;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MovieViewModal {
    background: $themeDarkGray;
    border-radius: 10px;
    min-width: 300px;
    top: 200px;
    right: 200px;
    //min-height: 400px;
    margin: 100px;
    @media only screen and (max-width: 500px){
        margin-left: 20px;
        margin-right: 20px;
    }
}; 

.MovieViewModalClosed {
    display: none;
}; 

.ModalContentWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 5px;
    margin-bottom: 0px;
}

.ColumnsContentWrapper {
    display: flex;
    flex-direction: row;
}

.LeftColumnWrapper {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    min-width: 140px;
    height: 200px;
    @media only screen and (max-width: 500px){
        margin:10px;
    }
}

.MoviePoster {
    border: thin solid #ee6055; 
    height: 180px;
    transition: 0.3s;
    @media only screen and (max-width: 500px){
        height: 200px;
        width: 130px;
    }
}

.MoviePoster:hover {
    border: thick solid #ee6055; 
}

.IconsWrapper {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.LikesIcon {
    height: 20px;
    width: 20px;
    margin-top: 2px;
    transition: 0.3s;
}

.LikesIcon:hover {
    height: 25px;
    width: 25px;
    margin-top: 2px;
}

.ViewsIcon {
    height: 20px;
    width: 20px;
    margin-top: 2px;
    transition: 0.3s;
}

.ViewsIcon:hover {
    height: 25px;
    width: 25px;
    margin-top: 2px;
}

.IconsText {
    font-size: 15px;
    color: $themeRed;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    margin-left: 4px;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    transition: 0.3s;
}

.RightContentWrapper {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 5px;
}

.HeadingWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.MovieTitle {
    font-size: 30px;
    color: $themeRed;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-top: 12px;
    @media only screen and (max-width: 500px){
        font-size: 20px;
        margin-top: 10px;
        -webkit-text-stroke-width: 0.5px;
    }
}

.SecondaryHeadings {
    font-size: 20px;
    color: $themeRed;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    margin-left: 0px;
    margin-right: 40px;
    margin-bottom: 0px;
    margin-top: 20px;
    @media only screen and (max-width: 500px){
        font-size: 10px;
        margin-right: 20px;
        margin-top: 20px;
    }
}

.RowContentWrapper{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 0px;
}

.MovieDescriptionText {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: $themeLightGray;
    display: flex;
    width:100%;
    flex-direction: column;
    margin-right: 30px;
    margin-bottom: 10px;
    @media only screen and (max-width: 500px){
        height: 0px;
        display: none;
    }
}

.MovieDescriptionText2 {
    height: 0px;
    display: none;
    @media only screen and (max-width: 500px){
        font-family: Karla;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: $themeLightGray;
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
        margin-top: 0px;
        position: relative;
    }    
}


.GenreSection {
    background: $themeBlack;
    border: solid 1px $themeRed;
    border-radius: 10px;
    //min-width: 200px;
    margin-top: 20px;
    @media only screen and (max-width: 500px){
        margin-right: 0px;
        margin-top: 10px;
    }
}

.GenreContentWrapper {
    display: flex;
    flex-direction: row;
    margin-right: 2px;
}

.GenreTitle {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #C4C4C4;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    @media only screen and (max-width: 500px){
        font-size: 10px;
    }
}

.GenreCategoriesWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.GenreCategories {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #EE6055;
    width: auto;
    outline: 1.5px solid #EE6055;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    transition: 0.3s;
    @media only screen and (max-width: 500px){
        font-size: 10px;
        outline: 1px solid #EE6055;
    }
}

.GenreCategories:hover {
    font-size: 17px;
    outline: 2px solid $themeLightGray;
}

.TabsSection {
    background: $themeLightGray;
    border: solid 1px $themeRed;
    border-radius: 10px;
    //min-width: 200px;
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    margin-bottom: 20px;
    @media only screen and (max-width: 500px){
        margin-top: 50px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

.TabContentWrapper {
    display: flex;
    flex-direction: column;
}

.TabHeadingsWrapper {
    //display: flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
    //display: -webkit-flex;
    @media only screen and (max-width: 500px){
        margin-right: 10px;
        margin-left: 10px;
    }   
}

.TabInformationWrapper {
    display: flex;
    flex-direction: column;
}

.TabHeadings {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: $themeBlack;
    margin-bottom: 0px;
    transition: 0.3s;
    margin-top: 10px;
    @media only screen and (max-width: 500px){
        font-size: 12px; 
        margin-top: 5px;
    }
}

.TabHeadings:hover {
    text-shadow: 0px 6px 4px $themeBlack;
}

.SelectedTab {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    @media only screen and (max-width: 500px){
        font-size: 15px; 
        margin-top: 0px;
    }
}

.TabBarLine {
    margin: 0px;
    margin-left: 20px;
    width: calc(100% - 40px);
    border: 1px solid $themeBlack;
    @media only screen and (max-width: 500px){
        width: calc(100% - 20px);
        margin-right: 10px;
        margin-left: 10px;
    } 
}

.TabSpecificDetailWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    margin-top: 0px;
}

.TabSpecificText {
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: $themeBlack;
    display: flex;
    width: 100%;
    flex-direction: row;
    @media only screen and (max-width: 500px){
        font-size: 10px;
    }
}