@import '../theme.scss';


.MovieViewWrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 400;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.MovieViewPage {
  background: $themeLightGray;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MovieViewModal {
  background: $themeDarkGray;
  border-radius: 10px;
  min-width: 300px;
  top: 200px;
  right: 200px;
  //min-height: 400px;
  margin: 100px;
  @media only screen and (max-width: 500px) {
    margin-left: 20px;
    margin-right: 20px;
  }
  border: 2px solid black;
  max-width: 1000px;
}

.MovieViewModalClosed {
  display: none;
}

.ModalContentWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: 5px;
  margin-bottom: 0px;
}

.ColumnsContentWrapper {
  display: flex;
  flex-direction: row;
}

.LeftColumnWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  min-width: 140px;
  height: 200px;
  @media only screen and (max-width: 500px) {
    margin: 10px;
  }
}

.MovieViewPagePoster {
  //border: thin solid #ee6055;
  box-shadow: 1px 1px 10px #252525;
  border-radius: 5px;
  height: 180px;
  // transition: 0.3s;
  @media only screen and (max-width: 500px) {
    height: 200px;
    width: 130px;
  }
}

.IconsWrapper {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.closeIcon {
  height: 20px;
  width: 20px;
  margin-top: 10px;
  transition: 0.3s;
}

.closeIcon:hover {
  border: thin solid #c4c4c4;
}

.LikesIcon {
  height: 20px;
  width: 20px;
  margin-top: 2px;
  transition: 0.3s;
}

.ViewsIcon {
  height: 20px;
  width: 20px;
  margin-top: 2px;
  transition: 0.3s;
}

.IconsText {
  font-size: 15px;
  color: $themeRed;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  margin-left: 4px;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  transition: 0.3s;
}

.RightContentWrapper {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 5px;
}

.HeadingWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.MovieAndYearWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.MovieTitle {
  font-size: 30px;
  color: $themeRed;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-top: 12px;
  @media only screen and (max-width: 500px) {
    font-size: 20px;
    margin-top: 10px;
    -webkit-text-stroke-width: 0.5px;
  }
}

.SecondaryHeadings {
  font-size: 20px;
  color: $themeRed;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  margin-left: 0px;
  margin-right: 40px;
  margin-bottom: 0px;
  margin-top: 20px;
  @media only screen and (max-width: 500px) {
    font-size: 10px;
    margin-right: 20px;
    margin-top: 20px;
  }
}

.RowContentWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 0px;
}

.MovieDescriptionText {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: $themeLightGray;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-right: 30px;
  margin-bottom: 10px;
  @media only screen and (max-width: 500px) {
    height: 0px;
    display: none;
  }
}

.MovieDescriptionText2 {
  height: 0px;
  display: none;
  @media only screen and (max-width: 500px) {
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: $themeLightGray;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 0px;
    position: relative;
  }
}

.GenreSection {
  background: $themeBlack;
  border: solid 1px $themeRed;
  border-radius: 10px;
  //min-width: 200px;
  margin-top: 20px;
  @media only screen and (max-width: 500px) {
    margin-right: 0px;
    margin-top: 10px;
  }
}

.GenreContentWrapper {
  display: flex;
  flex-direction: row;
  margin-right: 2px;
}

.GenreTitle {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #c4c4c4;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  @media only screen and (max-width: 500px) {
    font-size: 10px;
  }
}

.GenreCategoriesWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.GenreCategories {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #ee6055;
  width: auto;
  outline: 1.5px solid #ee6055;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  transition: 0.3s;
  @media only screen and (max-width: 500px) {
    font-size: 10px;
    outline: 1px solid #ee6055;
  }
}

.TabsSection {
  background: $themeLightGray;
  border: solid 1px $themeRed;
  border-radius: 10px;
  //min-width: 200px;
  margin-left: 20px;
  margin-right: 20px;
  height: 100%;
  margin-bottom: 20px;
  @media only screen and (max-width: 500px) {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.TabContentWrapper {
  display: flex;
  flex-direction: column;
}

.TabHeadingsWrapper {
  //display: flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px;
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 0px;
  //display: -webkit-flex;
  @media only screen and (max-width: 500px) {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.TabInformationWrapper {
  display: flex;
  flex-direction: column;
}

.TabHeadings {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: $themeBlack;
  margin-bottom: 0px;
  transition: 0.3s;
  margin-top: 10px;
  @media only screen and (max-width: 500px) {
    font-size: 12px;
    margin-top: 5px;
  }
}

.TabHeadings:hover {
  text-shadow: 0px 6px 4px $themeBlack;
}

.SelectedTab {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  @media only screen and (max-width: 500px) {
    font-size: 15px;
    margin-top: 0px;
  }
}

.TabBarLine {
  margin: 0px;
  margin-left: 20px;
  width: calc(100% - 40px);
  border: 1px solid $themeBlack;
  @media only screen and (max-width: 500px) {
    width: calc(100% - 20px);
    margin-right: 10px;
    margin-left: 10px;
  }
}

.CloseText {
  color: $themeRed;
}

.CloseText:hover {
  color: white;
}

//.TabSpecificDetailWrapper {

//}

//.TabSpecificText {

//}
