@import '../theme.scss';

.MainPage {
  background: $themeDarkGray;
  height: 100%;
  width: 100%;
  padding-top: 10px;
  overflow: scroll;
  //display: flex;
  //flex-direction: column;
  justify-content: center;
  //align-items: center;
}

.MainPageContentWrapper {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.BackWidgetsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.TopWidgetsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
  //   z-index: 200;
}

.ChevronSideBar {
  align-self: flex-start;
  margin-top: 10px;
  height: 45px;
  width: 45px;
  transition: 0.3s;
}

.ChevronSideBar:hover {
  height: 50px;
  width: 50px;
}

.ChevronList {
  height: 100px;
  width: 100px;
  transition: 0.3s;
}

.ChevronList:hover {
  height: 110px;
  width: 110px;
}

.Settings {
  height: 40px;
  width: 40px;
  transition: 0.3s;
  margin-right: 10px;
  align-self: flex-start;
  margin-top: 15px;
}

.Settings:hover {
  height: 45px;
  width: 45px;
}

.CreatingListButtonText {
  color: white;
  font-size: 12px;
}

.CreatingListButtonText:hover {
  color: $themeBlack;
  font-weight: bold;
}

.ListContainer {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.ListContentWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
}

.ListTitleContainer {
  display: flex;
  flex-direction: column;
}

.ListTitle {
  font-size: 18px;
  color: $themeRed;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.MovieListWrapper {
  display: flex;
  flex-direction: row;
  height: 200px;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  transform: translate(0px);
  transition: transform 1s;
}

.MovieListWrapperLhover {
  transform: translate(-200px);
  left: -500px;
}

.MoviePoster {
  height: 150px;
  width: 100px;
  transition: 0.3s;
  margin: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #252525;
}

.MoviePoster:hover {
  height: 156px;
  width: 104px;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 20px #252525;
}

.MovieDividerLine {
  height: 0px;
  border: 1px solid $themeRed;
  margin-left: 10px;
  margin-right: 10px;
}

.SearchBarWrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: 0px;
  margin-top: 10px;
  z-index: 200;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.MovieViewWrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 400;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}
